In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
## I believe this is all I need currently, let’s get the data in here!

## FY20 Audit needs 


## PULLING FROM TRANSACTIONS
##Fund-Function-Objectname Column 1
## 10-2100-300 Column 2
## contracted company Column 3 
##total spent by account Column 4
###DO GRANTS COUNT AS EDUCATION ?
# mixed up fund and function in the array names should go back in and switch those when I have time to clean up

In [2]:
allTransactions = pd.read_csv("GridExport.csv") ## File dated 11/20/20 9:55
allTransactions.head(5)
##Pulls up full CSV file from Visions

,Unnamed: 0,Process,Req. No.,Req. Date,Req. App.,Vendor Name,PO No.,R,PO Date,Amount,...,PO Type,W9 Received,Include on PO Board Report,PO Board Summary,PO Board For,PO Board Date,Grant Project,Buyer,ePO,Open Encumbrance
0,1,False,823,07/30/2019,Yes,HMO OF ILLINOIS,2000589,0,07/30/2019,"$8,500,000.00",...,Blanket,False,False,<nobr></nobr>,NaN,NaN,NaN,NaN,False,"$736,399.74"
1,2,False,8075,03/05/2020,Yes,ILLINOIS CENTRAL SCHOOL BUS,2006739,0,03/13/2020,"$863,079.36",...,Purchase Order,False,False,<nobr></nobr>,NaN,03/17/2020,NaN,NaN,False,$0.00
2,3,False,282,07/10/2019,Yes,CONSTELLATION,2000025,0,07/15/2019,"$815,500.00",...,Purchase Order,True,False,<nobr></nobr>,NaN,07/10/2019,NaN,NaN,False,"$285,813.12"
3,4,False,170,07/08/2019,Yes,MAXIM HEALTHCARE SERVICES INC,2000310,1,07/18/2019,"$323,000.00",...,Purchase Order,False,False,<nobr></nobr>,NaN,NaN,NaN,NaN,False,"$269,714.05"
4,5,False,7855,04/03/2019,Yes,MAILFINANCE,1905848,0,07/04/2019,"$234,897.00",...,Purchase Order,False,False,<nobr></nobr>,NaN,NaN,NaN,NaN,False,"$176,172.75"

In [3]:
allTransactions.count().sort_values()
## using Vendor Name, account, Line total Paid
#checking to make sure there is data in the needed columns

Buyer                             0
Grant Project                     0
PO Board For                      0
Next Approver Name                0
Award Number                      0
Warehouse Item Number             0
Reference                     18496
PO Board Date                 19822
Part No.                      20711
PO User Name                  27647
PO User                       27647
Line Total Paid               29991
Unnamed: 0                    29991
Line Total Ordered            29991
Freight                       29991
Line Paid Variance            29991
Line Qty Ordered              29991
Line Revd Variance            29991
Line Ordered Variance         29991
Line Qty Recvd                29991
Tax                           29991
Has Documents                 29991
PO Type                       29991
W9 Received                   29991
Include on PO Board Report    29991
PO Board Summary              29991
Line Qty Paid                 29991
Ext. Price                    29991
Account                       29991
Account Description           29991
Process                       29991
Req. No.                      29991
Req. Date                     29991
Req. App.                     29991
Vendor Name                   29991
PO No.                        29991
R                             29991
PO Date                       29991
Amount                        29991
Status                        29991
Unit Price                    29991
Paid                          29991
Next Approver                 29991
DAC                           29991
Requester                     29991
PO Printed                    29991
Project                       29991
Req. User                     29991
Req. User Name                29991
Internal Notes                29991
Description                   29991
ePO                           29991
Variance                      29991
Open Encumbrance              29991
dtype: int64

In [4]:
requiredInfo = allTransactions.drop(['Account Description', 'Unit Price','Ext. Price','Tax', 'Freight','Line Total Ordered', 
                                    'Line Paid Variance','Part No.','Line Qty Ordered','Line Ordered Variance',
                                     'Line Qty Recvd', 'Line Revd Variance','Warehouse Item Number','Award Number',
                                     'PO Board For', 'Grant Project','Buyer','Line Qty Paid','Description',
                                     'Open Encumbrance','Next Approver Name','PO Board Date','Reference','PO User Name',
                                     'PO User', 'Process', 'Req. No.','Req. Date','PO Board Summary', 
                                     'Include on PO Board Report','W9 Received','PO Type', 'Req. App.','Has Documents', 
                                    'Next Approver','DAC', 'Requester','PO Printed','Project', 'ePO','Req. User',
                                     'Req. User Name','Internal Notes','R', 'Unnamed: 0'],axis=1)
#triming the columns down
requiredInfo.head(5)

,Vendor Name,PO No.,PO Date,Amount,Status,Paid,Variance,Account,Line Total Paid
0,HMO OF ILLINOIS,2000589,07/30/2019,"$8,500,000.00",Open,"$7,763,600.26","$736,399.74",10.8.010600.00.9115.213.0076,"$7,763,600.26"
1,ILLINOIS CENTRAL SCHOOL BUS,2006739,03/13/2020,"$863,079.36",Closed,"$431,539.68","$431,539.68",40.8.000000.75.2559.342.1803,"$431,539.68"
2,CONSTELLATION,2000025,07/15/2019,"$815,500.00",Open,"$529,686.88","$285,813.12",20.8.000000.12.2542.456.0000,"$529,686.88"
3,MAXIM HEALTHCARE SERVICES INC,2000310,07/18/2019,"$323,000.00",Open,"$53,285.95","$269,714.05",10.8.001200.76.2134.306.0000,"$53,285.95"
4,MAILFINANCE,1905848,07/04/2019,"$234,897.00",Open,"$58,724.25","$176,172.75",10.8.000051.64.2664.300.0000,"$58,724.25"

In [5]:
requiredInfo.count().sort_values()  ## After this drop everything BUT Vendor Name, Account, Line Total Paid

Vendor Name        29991
PO No.             29991
PO Date            29991
Amount             29991
Status             29991
Paid               29991
Variance           29991
Account            29991
Line Total Paid    29991
dtype: int64

In [6]:
workinggrid=requiredInfo.drop(['PO No.','Paid','PO Date','Amount','Status','Variance'], axis=1)
workinggrid.head(10) #Test

,Vendor Name,Account,Line Total Paid
0,HMO OF ILLINOIS,10.8.010600.00.9115.213.0076,"$7,763,600.26"
1,ILLINOIS CENTRAL SCHOOL BUS,40.8.000000.75.2559.342.1803,"$431,539.68"
2,CONSTELLATION,20.8.000000.12.2542.456.0000,"$529,686.88"
3,MAXIM HEALTHCARE SERVICES INC,10.8.001200.76.2134.306.0000,"$53,285.95"
4,MAILFINANCE,10.8.000051.64.2664.300.0000,"$58,724.25"
5,CALL ONE,10.8.000051.64.2664.352.0000,"$151,709.01"
6,"ASIAN HUMAN SERVICES, INC.",11.8.430000.60.2140.300.0000,"$41,319.16"
7,SAFEWAY TRANSP SERVICE CORP,40.8.000000.75.2559.342.0413,"$620,218.49"
8,"SPECIAL EDUCATION SYSTEMS, INC.",40.8.001200.75.2559.342.1190,"$67,418.98"
9,"SPECTRUM CENTER, INC",10.8.001200.76.1290.695.0000,"$189,924.48"

In [7]:
workinggrid[['Fund','Type', 'Source', 'Location', 'Function','Object', 'Job Class']] = workinggrid.Account.str.split(".",expand=True,)

In [8]:
workinggrid.head(20) ## working on final grid

,Vendor Name,Account,Line Total Paid,Fund,Type,Source,Location,Function,Object,Job Class
0,HMO OF ILLINOIS,10.8.010600.00.9115.213.0076,"$7,763,600.26",10,8,010600,00,9115,213,0076
1,ILLINOIS CENTRAL SCHOOL BUS,40.8.000000.75.2559.342.1803,"$431,539.68",40,8,000000,75,2559,342,1803
2,CONSTELLATION,20.8.000000.12.2542.456.0000,"$529,686.88",20,8,000000,12,2542,456,0000
3,MAXIM HEALTHCARE SERVICES INC,10.8.001200.76.2134.306.0000,"$53,285.95",10,8,001200,76,2134,306,0000
4,MAILFINANCE,10.8.000051.64.2664.300.0000,"$58,724.25",10,8,000051,64,2664,300,0000
5,CALL ONE,10.8.000051.64.2664.352.0000,"$151,709.01",10,8,000051,64,2664,352,0000
6,"ASIAN HUMAN SERVICES, INC.",11.8.430000.60.2140.300.0000,"$41,319.16",11,8,430000,60,2140,300,0000
7,SAFEWAY TRANSP SERVICE CORP,40.8.000000.75.2559.342.0413,"$620,218.49",40,8,000000,75,2559,342,0413
8,"SPECIAL EDUCATION SYSTEMS, INC.",40.8.001200.75.2559.342.1190,"$67,418.98",40,8,001200,75,2559,342,1190
9,"SPECTRUM CENTER, INC",10.8.001200.76.1290.695.0000,"$189,924.48",10,8,001200,76,1290,695,0000
10,SAFEWAY TRANSP SERVICE CORP,40.8.001200.75.2559.342.1190,"$892,078.65",40,8,001200,75,2559,342,1190
11,MARYVILLE ACADEMY,10.8.001200.76.1290.695.0000,"$163,437.61",10,8,001200,76,1290,695,0000
12,OFFICE PLUS OF LAKE COUNTY,10.8.000051.64.2664.300.1585,"$107,603.24",10,8,000051,64,2664,300,1585
13,CITY OF WAUKEGAN - WATER DEPT,20.8.000000.21.2542.370.0000,"$134,340.27",20,8,000000,21,2542,370,0000
14,CONSTELLATION,20.8.000000.12.2542.466.0000,"$1,197,880.15",20,8,000000,12,2542,466,0000
15,"EL EDUCATION, INC.",11.8.493000.60.2210.300.0000,"$28,000.00",11,8,493000,60,2210,300,0000
16,CAMELOT CARE CENTERS INC,10.8.001200.76.1290.695.0000,"$309,544.58",10,8,001200,76,1290,695,0000
17,NATIONAL INSURANCE SERVICES,10.8.010600.00.9115.210.0071,"$330,637.00",10,8,010600,00,9115,210,0071
18,CATAPULT LEARNING,11.8.430000.60.3700.300.1926,"$12,500.00",11,8,430000,60,3700,300,1926
19,ADVANCED DISPOSAL,10.8.008400.74.2569.332.0000,"$281,199.06",10,8,008400,74,2569,332,0000

In [9]:
acctadjust=workinggrid.drop(['Account','Type','Source','Location','Job Class'], axis=1)

In [10]:
acctadjust.head(29) ## Narrowing the grid down

                              Vendor Name Line Total Paid Fund Function Object
0                         HMO OF ILLINOIS   $7,763,600.26   10     9115    213
1             ILLINOIS CENTRAL SCHOOL BUS     $431,539.68   40     2559    342
2                           CONSTELLATION     $529,686.88   20     2542    456
3           MAXIM HEALTHCARE SERVICES INC      $53,285.95   10     2134    306
4                             MAILFINANCE      $58,724.25   10     2664    300
5                                CALL ONE     $151,709.01   10     2664    352
6              ASIAN HUMAN SERVICES, INC.      $41,319.16   11     2140    300
7             SAFEWAY TRANSP SERVICE CORP     $620,218.49   40     2559    342
8         SPECIAL EDUCATION SYSTEMS, INC.      $67,418.98   40     2559    342
9                    SPECTRUM CENTER, INC     $189,924.48   10     1290    695
10            SAFEWAY TRANSP SERVICE CORP     $892,078.65   40     2559    342
11                      MARYVILLE ACADEMY     $163,437.61   10     1290    695
12             OFFICE PLUS OF LAKE COUNTY     $107,603.24   10     2664    300
13          CITY OF WAUKEGAN - WATER DEPT     $134,340.27   20     2542    370
14                          CONSTELLATION   $1,197,880.15   20     2542    466
15                     EL EDUCATION, INC.      $28,000.00   11     2210    300
16               CAMELOT CARE CENTERS INC     $309,544.58   10     1290    695
17            NATIONAL INSURANCE SERVICES     $330,637.00   10     9115    210
18                      CATAPULT LEARNING      $12,500.00   11     3700    300
19                      ADVANCED DISPOSAL     $281,199.06   10     2569    332
20                           THERMFLO INC     $108,750.00   10     2664    700
21                 BLUE CROSS/BLUE SHIELD  $11,885,911.03   10     9115    212
22                   EXPRESS SERVICES INC       $9,061.08   10     1130    308
23  IDES  ILLINOIS DEPT OF EMPLOYMENT SEC      $46,501.12   80     2362    381
24                       MECHANICAL, INC.       $9,274.00   60     2535    521
25                                SUNESYS      $51,926.48   10     2664    300
26                           THERMFLO INC      $82,500.00   10     2664    700
27                             ACCESS ONE     $133,585.92   10     2664    352
28          LAKELAND/LARSEN ELEVATOR CORP      $47,967.67   20     2544    337

In [11]:
acctadjust.shape ##checking for future dropped rows

(29991, 5)

In [12]:
## PULLING rows based on object 3's
dropObj3 = acctadjust.loc[(acctadjust.Object.str.startswith('3'))]
dropObj3['Object'] = dropObj3['Object'].apply(lambda x: '300') ##setting to report value
#for i, row in dropObj3.iterrows():
    #print(row.Object)
    
## PULLING rows based on object 4's
dropObj4 = acctadjust.loc[(acctadjust.Object.str.startswith('4'))]
dropObj4['Object'] = dropObj4['Object'].apply(lambda x: '400')##setting to report value
#for i, row in dropObj4.iterrows():
    #print(row.Object)
    

## PULLING rows based on object 6's
dropObj6 = acctadjust.loc[(acctadjust.Object.str.startswith('6'))]
dropObj6['Object'] = dropObj6['Object'].apply(lambda x: '600')##setting to report value
#for i, row in dropObj6.iterrows():
    #print(row.Object)



## PULLING rows based on object 8's
dropObj8 = acctadjust.loc[(acctadjust.Object.str.startswith('8'))]
dropObj8['Object'] = dropObj8['Object'].apply(lambda x: '800')##setting to report value
#for i, row in dropObj8.iterrows():
    #print(row.Object)

In [13]:
##putting everything back together again 

FundAdj=[dropObj3, dropObj4, dropObj6, dropObj8]

FundAdj = pd.concat(FundAdj)

FundAdj.shape

(28672, 5)

In [14]:
FundAdj.head(15)
FundAdj.to_csv('Test1.csv', index=False) ## check file

#### i counted 18 independent functions required for FY20 
1000
2100
2200
2300
2400,,,

In [15]:
## PULLING rows based on Function 1000's
dropFun1 = FundAdj.loc[(FundAdj.Function.str.startswith('1'))]
dropFun1['Function'] = dropFun1['Function'].apply(lambda x: '1000') ##setting to report value
#for i, row in dropFun1.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code
    
## PULLING rows based on Function 2100's
dropFun21 = FundAdj.loc[(FundAdj.Function.str.startswith('21'))]
dropFun21['Function'] = dropFun21['Function'].apply(lambda x: '2100')##setting to report value
#for i, row in dropFun21.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2200's
dropFun22 = FundAdj.loc[(FundAdj.Function.str.startswith('22'))]
dropFun22['Function'] = dropFun22['Function'].apply(lambda x: '2200')##setting to report value
#for i, row in dropFun22.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code


## PULLING rows based on Function 2300's
dropFun23 = FundAdj.loc[(FundAdj.Function.str.startswith('23'))]
dropFun23['Function'] = dropFun23['Function'].apply(lambda x: '2300')##setting to report value
#for i, row in dropFun23.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code
    
## PULLING rows based on Function 2400's
dropFun24 = FundAdj.loc[(FundAdj.Function.str.startswith('24'))]
dropFun24['Function'] = dropFun24['Function'].apply(lambda x: '2400')##setting to report value
#for i, row in dropFun24.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

2510
2520
2540
2550
2560
2570,,,

In [16]:
## PULLING rows based on Function 2510's
dropFun251 = FundAdj.loc[(FundAdj.Function.str.startswith('251'))]
dropFun251['Function'] = dropFun251['Function'].apply(lambda x: '2510')##setting to report value
#for i, row in dropFun251.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2520's
dropFun252 = FundAdj.loc[(FundAdj.Function.str.startswith('252'))]
dropFun252['Function'] = dropFun252['Function'].apply(lambda x: '2520')##setting to report value
#for i, row in dropFun252.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2540's
dropFun254 = FundAdj.loc[(FundAdj.Function.str.startswith('254'))]
dropFun254['Function'] = dropFun254['Function'].apply(lambda x: '2540')##setting to report value
#for i, row in dropFun254.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2550's
dropFun255 = FundAdj.loc[(FundAdj.Function.str.startswith('255'))]
dropFun255['Function'] = dropFun255['Function'].apply(lambda x: '2550')##setting to report value
#for i, row in dropFun255.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2560's
dropFun256 = FundAdj.loc[(FundAdj.Function.str.startswith('256'))]
dropFun256['Function'] = dropFun256['Function'].apply(lambda x: '2560')##setting to report value
#for i, row in dropFun256.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2570's
dropFun257 = FundAdj.loc[(FundAdj.Function.str.startswith('257'))]
dropFun257['Function'] = dropFun257['Function'].apply(lambda x: '2570')##setting to report value
#for i, row in dropFun257.iterrows(): ##This is to test to code
   # print(row.Function)  ##This is to test the code

2610
2620
2630
2640
2660,,,

In [17]:
## PULLING rows based on Function 2610's
dropFun261 = FundAdj.loc[(FundAdj.Function.str.startswith('261'))]
dropFun261['Function'] = dropFun261['Function'].apply(lambda x: '2610')##setting to report value
#for i, row in dropFun261.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2620's
dropFun262 = FundAdj.loc[(FundAdj.Function.str.startswith('262'))]
dropFun262['Function'] = dropFun262['Function'].apply(lambda x: '2620')##setting to report value
#for i, row in dropFun262.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2630's
dropFun263 = FundAdj.loc[(FundAdj.Function.str.startswith('263'))]
dropFun263['Function'] = dropFun263['Function'].apply(lambda x: '2630')##setting to report value
#for i, row in dropFun263.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2640's
dropFun264 = FundAdj.loc[(FundAdj.Function.str.startswith('264'))]
dropFun264['Function'] = dropFun264['Function'].apply(lambda x: '2640')##setting to report value
#for i, row in dropFun264.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code

## PULLING rows based on Function 2660's
dropFun266 = FundAdj.loc[(FundAdj.Function.str.startswith('266'))]
dropFun266['Function'] = dropFun266['Function'].apply(lambda x: '2660')##setting to report value
#for i, row in dropFun266.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code


2900,,,
3000

In [18]:
## PULLING rows based on Function 2900's
dropFun29 = FundAdj.loc[(FundAdj.Function.str.startswith('29'))]
dropFun29['Function'] = dropFun29['Function'].apply(lambda x: '2900')##setting to report value
#for i, row in dropFun29.iterrows(): ##This is to test to code
    #print(row.Function)  ##This is to test the code


## PULLING rows based on Function 3000's
dropFun3 = FundAdj.loc[(FundAdj.Function.str.startswith('3'))]
dropFun3['Function'] = dropFun3['Function'].apply(lambda x: '3000')##setting to report value
#for i, row in dropFun3.iterrows(): ##This is to test to code
   # print(row.Function)  ##This is to test the code

1000
2100
2200
2300
2400
2510
2520
2540
2550
2560
2570
2610
2620
2630
2640
2660
2900
3000

In [19]:
##putting everything back together again 


FunctAdj=[dropFun1, dropFun21, dropFun22, dropFun23, dropFun24,
          dropFun251, dropFun252, dropFun254, dropFun255, dropFun256,
         dropFun257, dropFun261, dropFun262, dropFun263, dropFun264,
         dropFun266, dropFun29, dropFun3]

FunctAdj = pd.concat(FunctAdj)


#FunctAdj=dropFun1 #1
#FunctAdj.append(dropFun21)#2
#FunctAdj.append(dropFun22)#3
#FunctAdj.append(dropFun23)#4
#FunctAdj.append(dropFun24)#5
#FunctAdj.append(dropFun251)#6
#FunctAdj.append(dropFun252)#7
#FunctAdj.append(dropFun254)#8
#FunctAdj.append(dropFun255)#9
#FunctAdj.append(dropFun256)#10
#FunctAdj.append(dropFun257)#11
#FunctAdj.append(dropFun261)#12
#FunctAdj.append(dropFun262)#13
#FunctAdj.append(dropFun263)#14
#FunctAdj.append(dropFun264)#15
#FunctAdj.append(dropFun266)#16
#FunctAdj.append(dropFun29)#17
#FunctAdj.append(dropFun3)#18

FunctAdj.to_csv('Test2.csv', index=False) ##check File


FunctAdj.shape

(28586, 5)

In [20]:
FunctAdj.head(15)

,Vendor Name,Line Total Paid,Fund,Function,Object
22,EXPRESS SERVICES INC,"$9,061.08",10,1000,300
65,MCGRAW-HILL,"$2,272.72",11,1000,300
77,APPLE COMPUTER INC,"$26,900.00",10,1000,300
110,EBS HEALTHCARE,"$38,350.00",10,1000,300
120,JIMANO'S PIZZA,"$1,886.32",10,1000,300
137,"FIRST STAGE MILWAUKEE, INC.","$1,600.00",11,1000,300
151,"SASC, LLC",$578.16,11,1000,300
152,U.S. WATERPROOFING & CONSTRUCTION CO.,"$1,724.00",10,1000,300
156,KID'S THERAPY,$170.00,11,1000,300
164,WISCONSIN GLACIER SPRINGS,$543.60,10,1000,300
175,KID'S THERAPY,$255.00,11,1000,300
176,"SASC, LLC",$184.57,11,1000,300
179,"PEARSON EDUCATION, INC.",$131.28,11,1000,300
182,"SASC, LLC",$187.38,11,1000,300
185,K-LOG,"$5,586.00",10,1000,300

Maybe a concatination or a join for the words with another Paddas array that has the descriptions attached to the numbers

## Counted Six total Funds
10 
20 
40 
80 
90 
60

In [21]:
## PULLING rows based on Fund 10s
dropFund1 = FunctAdj.loc[(FunctAdj.Fund.str.startswith('1'))]
dropFund1['Fund'] = dropFund1['Fund'].apply(lambda x: '10') ##setting to report value
#for i, row in dropFund1.iterrows(): ##This is to test to code
    #print(row.Fund)  ##This is to test the code
    
## PULLING rows based on Fund 20s
dropFund2 = FunctAdj.loc[(FunctAdj.Fund.str.startswith('2'))]
dropFund2['Fund'] = dropFund2['Fund'].apply(lambda x: '20')
#for i, row in dropFund2.iterrows(): ##This is to test to code
    #print(row.Fund)  ##This is to test the code


## PULLING rows based on Fund 40s
dropFund4 = FunctAdj.loc[(FunctAdj.Fund.str.startswith('4'))]
dropFund4['Fund'] = dropFund4['Fund'].apply(lambda x: '40')
#for i, row in dropFund4.iterrows(): ##This is to test to code
    #print(row.Fund)  ##This is to test the code

## PULLING rows based on Fund 60s
dropFund6 = FunctAdj.loc[(FunctAdj.Fund.str.startswith('6'))]
dropFund6['Fund'] = dropFund6['Fund'].apply(lambda x: '60')
#for i, row in dropFund6.iterrows(): ##This is to test to code
    #print(row.Fund)  ##This is to test the code


## PULLING rows based on Fund 80s
dropFund8 = FunctAdj.loc[(FunctAdj.Fund.str.startswith('8'))]
dropFund8['Fund'] = dropFund8['Fund'].apply(lambda x: '80')
#for i, row in dropFund8.iterrows(): ##This is to test to code
    #print(row.Fund)  ##This is to test the code


## PULLING rows based on Fund 90s
dropFund9 = FunctAdj.loc[(FunctAdj.Fund.str.startswith('9'))]
dropFund9['Fund'] = dropFund9['Fund'].apply(lambda x: '90')
#for i, row in dropFund9.iterrows(): ##This is to test to code
    #print(row.Fund)  ##This is to test the code

In [22]:
##putting everything back together again 



sumSheet=[dropFund1, dropFund2, dropFund4, dropFund6, dropFund8,
          dropFund9,]

sumSheet = pd.concat(sumSheet)


sumSheet.head(15)

,Vendor Name,Line Total Paid,Fund,Function,Object
22,EXPRESS SERVICES INC,"$9,061.08",10,1000,300
65,MCGRAW-HILL,"$2,272.72",10,1000,300
77,APPLE COMPUTER INC,"$26,900.00",10,1000,300
110,EBS HEALTHCARE,"$38,350.00",10,1000,300
120,JIMANO'S PIZZA,"$1,886.32",10,1000,300
137,"FIRST STAGE MILWAUKEE, INC.","$1,600.00",10,1000,300
151,"SASC, LLC",$578.16,10,1000,300
152,U.S. WATERPROOFING & CONSTRUCTION CO.,"$1,724.00",10,1000,300
156,KID'S THERAPY,$170.00,10,1000,300
164,WISCONSIN GLACIER SPRINGS,$543.60,10,1000,300
175,KID'S THERAPY,$255.00,10,1000,300
176,"SASC, LLC",$184.57,10,1000,300
179,"PEARSON EDUCATION, INC.",$131.28,10,1000,300
182,"SASC, LLC",$187.38,10,1000,300
185,K-LOG,"$5,586.00",10,1000,300

In [23]:
sumSheet.shape

(28586, 5)

In [24]:
sumSheet.to_csv('Test3.csv', index=False) ## Check File

In [25]:
sumSheet=sumSheet.sort_values('Vendor Name') ## prepping for summing identical rows

In [26]:
sumSheet.head(15)

                 Vendor Name Line Total Paid Fund Function Object
21598     1800WHEELCHAIR.COM         $149.00   10     2100    400
3244      1800WHEELCHAIR.COM         $199.00   10     2100    400
13889            2AXEND, LLC         $800.00   10     2200    300
28400  4N6 FANATICS.COM, LLC        ($48.00)   10     3000    300
28399  4N6 FANATICS.COM, LLC         $198.00   10     3000    300
10151              84 LUMBER         $142.03   20     2540    400
10152              84 LUMBER         $106.10   20     2540    400
19017  95 PERCENT GROUP INC.         $185.00   10     1000    400
19018  95 PERCENT GROUP INC.         $390.00   10     1000    400
19020  95 PERCENT GROUP INC.         $140.00   10     1000    400
19021  95 PERCENT GROUP INC.         $140.00   10     1000    400
19022  95 PERCENT GROUP INC.          $85.00   10     1000    400
19023  95 PERCENT GROUP INC.          $99.00   10     1000    400
19024  95 PERCENT GROUP INC.          $99.00   10     1000    400
19025  95 PERCENT GROUP INC.         $127.00   10     1000    400

In [27]:
## changing the data from String to Float
sumSheet['Line Total Paid'] = sumSheet['Line Total Paid'].str.replace('$', '')
sumSheet['Line Total Paid'] = sumSheet['Line Total Paid'].str.replace(',', '')
sumSheet['Line Total Paid'] = sumSheet['Line Total Paid'].str.replace('(', '')
sumSheet['Line Total Paid'] = sumSheet['Line Total Paid'].str.replace(')', '')

In [28]:
## changing the data from String to Float
sumSheet['Line Total Paid'] = sumSheet['Line Total Paid'].astype('float')

In [29]:
#Creating the final sum document
finalSums = sumSheet.groupby(['Vendor Name','Fund', 'Function', 'Object']).sum().reset_index()

In [30]:
finalSums.head(15)

                Vendor Name Fund Function Object  Line Total Paid
0        1800WHEELCHAIR.COM   10     2100    400           348.00
1               2AXEND, LLC   10     2200    300           800.00
2     4N6 FANATICS.COM, LLC   10     3000    300           246.00
3                 84 LUMBER   20     2540    400           248.13
4     95 PERCENT GROUP INC.   10     1000    400          1405.00
5    A & M PRODUCTS COMPANY   10     1000    400           188.70
6    A MESSE SUPPLY COMPANY   20     2540    400          3891.02
7         A-MAJOR MUSIC INC   10     1000    400          6718.05
8                ABC OFFICE   10     2660    400           793.86
9     ABC SUPPLY CO MBA#612   20     2540    300           862.56
10       ABDELRAZEK, HISHAM   10     1000    300            55.00
11  ABDO PUBLISHING COMPANY   10     2200    400           244.45
12    ABILITY POWER WASHING   10     1000    400         17556.41
13                 ABLE-NET   10     2100    400          1575.00
14         ABRAHAM, TODD K.   10     1000    300           130.00

In [31]:
finalSums.shape

(2515, 5)

In [32]:
finalSums.to_csv('Test4.csv', index=False) ## Check File

In [33]:
## add the names in for FUND FUNCTION OBJECT
accountElements = pd.read_csv("GridExportAccounts.csv")

In [34]:
accountElements.head(15)

,Unnamed: 0,Element Name,Element,Description,Fund Type
0,1,FUND,1,STUDENT ACTIVITIES,Activities
1,2,FUND,10,EDUCATION,Operating
2,3,FUND,11,GRANT FUND,Operating
3,4,FUND,20,OPERATIONS AND MAINTENANCE,Operating
4,5,FUND,21,SPECIAL PROJECTS,Bond
5,6,FUND,22,QSCB 2016 BOND PROJECTS,Bond
6,7,FUND,30,DEBT SERVICE,Debt Service
7,8,FUND,40,TRANSPORTATION,Operating
8,9,FUND,50,SOCIAL SECURITY/MEDICARE,IMRF/SS
9,10,FUND,51,IMRF,IMRF/SS
10,11,FUND,60,CAPITAL PROJECTS,Bond
11,12,FUND,61,CAPITAL PROJECTS - BOND/CDB,Bond
12,13,FUND,70,WORKING CASH,Operating
13,14,FUND,80,TORT FUND,Tort
14,15,FUND,90,FIRE PREVENTION/LIFE SAFETY,Life Safety

In [35]:
reportFields=accountElements.drop(['Unnamed: 0','Fund Type',], axis=1) 
#pairing down to just what is needed to add descriptions to the report
reportFields.head(15)

   Element Name  Element                  Description
0          FUND        1           STUDENT ACTIVITIES
1          FUND       10                    EDUCATION
2          FUND       11                   GRANT FUND
3          FUND       20   OPERATIONS AND MAINTENANCE
4          FUND       21             SPECIAL PROJECTS
5          FUND       22      QSCB 2016 BOND PROJECTS
6          FUND       30                 DEBT SERVICE
7          FUND       40               TRANSPORTATION
8          FUND       50     SOCIAL SECURITY/MEDICARE
9          FUND       51                         IMRF
10         FUND       60             CAPITAL PROJECTS
11         FUND       61  CAPITAL PROJECTS - BOND/CDB
12         FUND       70                 WORKING CASH
13         FUND       80                    TORT FUND
14         FUND       90  FIRE PREVENTION/LIFE SAFETY

In [36]:
#finalField = [reportFields["Element Name"].str.contains('Job Class') == False]  Returned a list

In [37]:
## PULLING rows based on FUND
pullFund = reportFields.loc[(reportFields['Element Name'].str.startswith('FUND'))]
#pullFund.head(20) #Test

## PULLING rows based on FUNCTION
pullFuction = reportFields.loc[(reportFields['Element Name'].str.startswith('FUNCTION'))]
#pullFuction.head(20) #Test

## PULLING rows based on OBJECT
pullObject = reportFields.loc[(reportFields['Element Name'].str.startswith('OBJECT'))]
#pullObject.head(20) #Test

In [115]:
finalField=[pullFund, pullFuction, pullObject]

finalField = pd.concat(finalField) 
thingsToRemove = finalField[finalField.duplicated(['Element'])] ##discovered student activities is messing up the titles
print(thingsToRemove)
#finalField.head(10)

     Element Name  Element                          Description
1020     FUNCTION        1                                   SA
1025     FUNCTION       10                                   SA
1031     FUNCTION       20                                   SA
1032     FUNCTION       22                                   SA
1043     FUNCTION       51                                   SA
1047     FUNCTION       61                                   SA
1055     FUNCTION       80                                   SA
1542       OBJECT        0                                 OPEN
1543       OBJECT        1                          SCHOLARSHIP
1544       OBJECT        2   Cash-Student Activities (Wintrust)
1546       OBJECT        4                Cash-Lulu Rippberger
1548       OBJECT        6                             Cash-PNC
1550       OBJECT        8                   Cash- Money Market
1552       OBJECT       10                         CASH GENERAL
1553       OBJECT       11                              Cash -
1554       OBJECT       12         INTERFUND CASH MAIN CHECKING
1555       OBJECT       13                    CASH CHANGE FUNDS
1556       OBJECT       14  Cash-Norstates Empl Benefit Account
1558       OBJECT       16          Cash-Imprest Fund (5th/3rd)
1560       OBJECT       18     Cash-Norstates Flexible Spending
1562       OBJECT       20                 LOAN TO OP. & MAINT.
1563       OBJECT       21            LOAN TO CAP.PROJECTS FUND
1564       OBJECT       29                 OTHER CURRENT ASSETS
1565       OBJECT       30                          INVESTMENTS
1567       OBJECT       36                Invest-CD Assoc. Bank
1569       OBJECT       38            UNAMORTIZED PREM. ON INV.
1570       OBJECT       40                  CURRENT LIABILITIES
1580       OBJECT       50              EMPLOYEE INSUR. PAYABLE
1582       OBJECT       57            RESERVES FOR ENCUMBRANCES
1585       OBJECT       68                         FUND BALANCE
1586       OBJECT       80                                OTHER
1587       OBJECT       81                          SCHOLARSHIP
1591       OBJECT       85                            BOOKSTORE
1592       OBJECT       86                      OFFICE ACCOUNTS
1593       OBJECT       87                             ATHLETIC
1594       OBJECT       88                         LIBRARY CLUB
1595       OBJECT       89                        MISC SUSPENSE
1596       OBJECT       90                          INVESTMENTS

In [123]:
closeFields=finalField[~finalField.Description.isin(thingsToRemove.Description)] #removing student activites
closeFields.shape

(795, 3)

In [124]:
elementList = closeFields['Element'].values.tolist() #settting the account pieces to lists
descriptionList= closeFields['Description'].values.tolist()
#print(descriptionList)


#20 in elementList
#20 in descriptionList

In [125]:
keys = elementList ## putting the lists into a dictionary
values = descriptionList
#res = {} 
#for key in keys: 
    #for value in values:
        #print( key)
        #print(value )
        #res[key] = value
        #values.remove(value) 
       # break  
titles= {keys[i]: values[i] for i in range(len(keys))}
#print(titles)

{1: 'STUDENT ACTIVITIES', 10: 'EDUCATION', 11: 'GRANT FUND', 20: 'OPERATIONS AND MAINTENANCE', 21: 'SPECIAL PROJECTS', 22: 'QSCB 2016 BOND PROJECTS', 30: 'DEBT SERVICE', 40: 'TRANSPORTATION', 50: 'SOCIAL SECURITY/MEDICARE', 51: 'IMRF', 60: 'CAPITAL PROJECTS', 61: 'CAPITAL PROJECTS - BOND/CDB', 70: 'WORKING CASH', 80: 'TORT FUND', 90: 'FIRE PREVENTION/LIFE SAFETY', 99: 'CASH CLEARING', 13: 'WAREHOUSE', 57: 'OLIVER RUFF-NGC', 89: 'CAROLINA FABIAN', 180: '..', 1000: 'INSTRUCTION', 1100: 'REGULAR PROGRAMS', 1105: 'INSTRUCTIONAL TECHNOLOGY', 1110: 'ELEMENTARY INSTRUCTION', 1120: 'MIDDLE SCHOOL INSTRUCTION', 1125: 'REGULAR PRESCHOOL', 1130: 'HIGH SCHOOL INSTRUCTION', 1144: 'CURRICULUM RESOURCES', 1145: 'ASSESSMENT', 1200: 'SPECIAL EDUCATION PROGRAM', 1201: 'COGNITIVE DISABILITIES - (S/PMH)', 1202: 'COGNITIVE DISABILITIES -  (TMH)', 1203: 'COGNITIVE DISABILITIES - (EMH)', 1204: 'PHYSICALLY HANDICAPPED - PH', 1205: 'LEARNING DISABILITY - LD', 1206: 'VISUALLY IMPAIRED - VI', 1207: 'HARD OF HEARING - HH', 1208: 'AUTISM SPECTRUM DISORDER', 1209: 'ID/MD/ORTHOPEDIC IMPAIRMENT', 1210: 'SPEECH & LANGUAGE IMPAIRMENT SLI', 1211: 'EDUCATIONALLY HANDICAP - EH', 1212: 'BEHAVIORAL DISORDER - BD', 1213: 'OTHER HEALTH IMPAIRMENT OHI', 1214: 'EARLY CHILDHOOD - EC', 1215: 'CURRICULUM & INSTRUCTION II', 1216: 'EDUCATIONALLY HANDICAPPED - DEVELOPMENTAL KINDERGA', 1217: 'PARENT/INFANT/EDUCATION', 1218: 'WAUKEGAN EARLY ENTRY', 1220: 'CROSS CATEGORICAL - CC', 1225: 'SPECIAL EDUCATION PROGRAMS - PRE-K', 1250: 'EDUCATIONALLY DEPRIVED/REMEDIAL PROGRAM', 1251: 'FOLLOW THROUGH', 1252: 'CHAPTER 1 CAPITAL', 1253: 'CHAPTER 1', 1254: 'MAGNET SCHOOL PLAN', 1256: 'TITLE 4 - PL98-511', 1257: 'EDUCATION HOMELESS', 1259: 'TITLE III-IEP', 1260: 'TITLE III-LIPLEPS', 1261: 'TITLE VI', 1262: 'DRUG RESISTANCE', 1270: '..', 1275: 'REMEDIAL/SUPPLEMENTAL PROGRAM - PRE-KINDERGARTEN', 1278: 'PROJECT FRESH START', 1280: '..', 1281: 'HOSPITAL', 1282: 'SPECIAL EDUCATION - BILINGUAL LIAISONS', 1283: 'SPECIAL EDUCATION - INSTRUCTION & SERVICES', 1284: 'SPECIAL EDUCATION - PRIVATE PLACEMENTS', 1285: 'SPECIAL EDUCATION - CHILD FIND', 1286: 'SPECIAL EDUCATION - TRANSITION', 1287: 'SPECIAL EDUCATION - ASSESSMENT COORDINATOR', 1288: 'SPECIAL EDUCATION - COMPLIANCE & ACCOUNTABLITY', 1289: 'SPECIAL EDUCATION - BEHAVIOR COORDINATOR', 1290: 'SPECIAL EDUCATION - ADMINISTRATION CERTIFICATED ST', 1291: 'SPECIAL EDUCATION - SUMMER STAFF', 1292: 'SPECIAL EDUCATION -  ADMINISTRATIVE-NONCERTIFIED S', 1294: 'SPECIAL EDUCATION - HIGH SCHOOL ACADEMIC CHAIR', 1295: 'SPECIAL EDUCATION - VOCATIONAL', 1300: 'ADULT/CONTINUING EDUCATION', 1310: 'ADULT EDUCATION', 1320: 'ADVANCED ADULT EDUCATION', 1330: 'OCCUPATIONAL', 1340: 'UPGRADE IN CURRICULUM OCCUPATIONAL', 1350: 'RETRAINING FOR NEW OCCUPATIONS', 1360: 'SPECIAL INTEREST', 1370: 'LIFE ENRICHMENT', 1390: 'OTHER ADULT/CONTINUING EDUCATION', 1400: 'VOCATIONAL PROGRAMS', 1401: 'AGRICULTURAL OCCUPATIONS', 1403: 'RENEWABLE NATURAL RESOURCES', 1404: 'ENVIRONMENTAL DESIGN', 1406: 'BUSINESS & MANAGEMENT', 1407: 'BUSINESS & OFFICE', 1408: 'MARKETING & DISTRIBUTION', 1409: 'COMMUNICATIONS', 1410: 'COMMUNICATION TECHNOLOGY', 1412: 'CONS. PERSONAL & MISCELLANEOUS SERVICES', 1415: 'ENGINEERING & ENGINEERING-RELATED TECHNOLOGY', 1417: 'HEALTH OCCUPATIONS', 1418: 'OTHER VOCATIONAL', 1420: 'OCCUPATION OF HOMEMAKING', 1421: 'HOME ECONOMICS OCCUPATION', 1426: 'INDUSTRY OCCUPATION', 1428: 'WAUKEGAN EARLY ENTRY PROGRAM', 1443: 'PROTECTIVE SERVICES', 1446: 'CONSTRUCTION TRADES', 1447: 'MECHANICS AND REPAIRERS', 1448: 'PRECISION PRODUCTION', 1449: 'TRANSPORTATION', 1459: 'SPECIAL PROGRAM', 1500: 'INTERSCHOLASTIC PROGRAMS', 1501: 'SAT ENRICHMENT', 1504: 'INTRAMURALS - MIDDLE SCHOOL', 1505: 'URBAN EDUCATION PROGRAMS', 1600: 'SUMMER SCHOOL PROGRAMS', 1601: 'SUMMER SCHOOL-BILL NEWCOMR', 1650: 'GIFTED PROGRAMS', 1700: 'DRIVERS EDUCATION PROGRAM', 1710: 'VOCATIONAL EDUCATION - HANDICAPPED', 1720: 'VOCATIONAL EDUCATION - LIMITED ENGLISH PROFICIENT', 1730: 'VOCATIONAL EDUCATION - ACADEMIC & ECONOMICAL', 1800: 'ENGLISH LANGUAGE LEARNERS', 1801: 'BI-PASS', 1802: 'ENGLISH LANGUAGE LEARNING RESERVE', 1803: 'TEASL', 1804: 'BILINGUALSUMMER SCHOOL', 1805: 'BILINGUAL TUTOR DROPOUT', 1806: 'ECIA TITLE 1 MIGRANT', 1807: 'ECIA TITLE 7 BILINGUAL', 1900: 'ALTERNATIVE PROGRAMS', 2000: 'SUPPORT SERVICES', 2100: 'SUPPORT SERVICES - PUPILS', 2110: 'ATTENDANCE & SOCIAL WORK SERVICES', 2111: 'SAFETY STAFF', 2112: 'DEANS OF DISCIPLINE', 2113: 'SOCIAL WORK SERVICES', 2114: 'PUPIL ACCOUNTING SERVICES', 2119: 'ATTENDANCE OFFICE', 2120: 'GUIDANCE SERVICES', 2121: 'SERVICE AREA DIRECTION', 2122: 'COUNSELING SERVICES', 2123: 'APPRAISAL SERVICES', 2124: 'INFORMATION SERVICES', 2125: 'RECORD MAINTENANCE SERVICES', 2126: 'PLACEMENT SERVICES', 2129: 'OTHER GUIDANCE SERVICES', 2130: 'HEALTH SERVICES', 2131: 'SERVICE AREA DIRECTION', 2132: 'MEDICAL SERVICES', 2133: 'DENTAL SERVICES', 2134: 'NURSE SERVICES', 2135: 'OCCUPATIONAL THERAPY / PHYSICAL THERAPY', 2139: 'OTHER HEALTH SERVICES', 2140: 'PSYCHOLOGICAL SERVICES', 2141: 'SERVICE AREA DIRECTION', 2142: 'PSYCHOLOGICAL TESTING SERVICES', 2143: 'PSYCHOLOGICAL COUNSELING SERVICES', 2144: 'PSYCHOTHERAPY SERVICES', 2149: 'OTHER PSYCHOLOGICAL SERVICES', 2150: 'SPEECH PATHOLOGY & AUDITORY', 2151: 'SERVICE AREA DIRECTION', 2152: 'SPEECH PATHOLOGY SERVICES', 2153: 'AUDIOLOGY SERVICES', 2159: 'OTHER SPEECH PATHOLOGY & AUDITORY', 2190: 'OTHER SUPPORT SERVICES - PUPIL', 2200: 'SUPPORT SERVICES INSTRUCTIONAL STAFF', 2210: 'IMPROVEMENT OF INSTRUCTIONAL SERVICES', 2211: 'SENIOR DEPUTY SUPERINTENDENT', 2212: 'ACADEMIC SUPPORT/PROGRAMS', 2213: 'SECONDARY EDUCATION', 2214: 'CURRICULUJM DEVELOPMENT ELEMENTARY SCHOOL', 2215: 'GRANTS ADMINISTRATION', 2216: 'STUDENT SUPPORT', 2217: 'CURRICULUM DEVELOPMENT - ENRICHMENT', 2218: 'CURRICULOUM DEVELOPMENT VOCATIONAL EDUCATION', 2220: 'SUMMER CURRICULUM', 2221: 'SERVICE AREA DIRECTION', 2222: 'LIBRARY', 2223: 'AUDIO-VISUAL SERVICES', 2224: 'EDUCATIONAL TELEVISION SERVICES', 2225: 'COMPUTER-ASSISTED INSTRUCTIONAL SERVICES', 2230: 'ASSESSMENT AND TESTING', 2291: 'TEACHER CENTER', 2300: 'SUPPORT SERVICES - GEN ADMINISTRATION', 2302: 'GENERAL ADMINISTRATION', 2310: 'BOARD OF EDUCATION SERVICES', 2311: 'SERVICE AREA DIRECTION', 2312: 'BOARD SECRETARY SERVICES', 2313: 'BOARD TREASURER SERVICES', 2314: 'ELECTION SERVICES', 2316: 'STAFF RELATIONS & NEG. SERVICES', 2319: 'OTHER BOARD OF EDUCATION', 2320: 'EXECT. ADMIN. SERVICES', 2321: 'SUPERINTENDENT', 2324: 'STATE AND FEDERAL RELATED SERVICES', 2325: 'CHIEF OPERATIONS OFFICIAL', 2326: 'CHIEF OF STAFF', 2328: 'SCHOOL WIDE SERVICES', 2330: 'SPECIAL AREA ADMINISTRATIVE SERVICES', 2360: 'TORT IMMUNITY SERVICES', 2361: 'SELF INSURANCE FUND PAYMENTS', 2362: 'WORKERS COMP PAYMENTS', 2363: 'UNEMPLOYMENT INSURANCE PAYMENTS', 2364: 'INSURANCE (LIABILITY) PAYMENTS', 2365: 'RISK MANAGEMENT & CLAIMS SERVICES', 2366: 'JUDGEMENT & SETTLEMENTS', 2367: 'LOSS PREVENTION SERVICES', 2368: 'RECIPROCAL INSURANCE PAYMENT', 2369: 'LEGAL SERVICES', 2400: 'SUPPORT SERVICES SCHOOL ADMINISTRATION', 2410: 'OFFICE OF THE PRINCIPAL SERVICES', 2412: 'SUPERVISOR BEHAVIORAL DISORDER', 2490: 'OTHER SUPPORT SERVICES SCHOOL ADMINISTRATION', 2500: 'SUPPORT SERVICES - BUSINESS', 2510: 'ASSOCICATE SUPERINTENDENT - BUSINESS/FINANCE', 2520: 'FISCAL SERVICES', 2521: 'DEPUTY SUPERINTENDENT - STRATEGY & ACCOUNTABILITY', 2522: 'BUDGETING SERVICES', 2523: 'RECEIVING & DISBURSEMENT OF FUNDS', 2524: 'PAYROLL SERVICES', 2525: 'FINANCIAL ACCOUNTING SERVICES', 2526: 'INTERNAL AUDITING SERVICE', 2527: 'PROPERTY ACCOUNTING SERVICE', 2528: 'ERP CONVERSION', 2529: 'OTHER FISCAL SERVICE', 2530: 'FACILITY ACQUISITION & CONSTRUCTION', 2531: 'SERVICE AREA DIRECTION', 2532: 'LAND ACQUISITION & DEVELOPMNT SERVICES', 2533: 'ARCHITECTUAL & ENGINEERING SERVICES', 2534: 'EDUCATIONAL SPECIAL DEVELOPMENT SERVICES', 2535: 'BUILDING  ACQUISITION CONSTRUCTION IMPROVEMENT', 2536: 'ENERGY EFFICIENT ELECTRIC', 2540: 'OPERATIONS & MAINTENANCE OF PLANT', 2541: 'SERVICE AREA DIRECTION', 2542: 'CARE & UPKEEP OF BUILDING', 2543: 'CARE AND UPKEEP OF GROUNDS', 2544: 'CARE & UPKEEP OF EQUIPMENT', 2545: 'VEHICLE SERVICES & MAINT SERVICES', 2546: 'SECURITY SERVICES', 2547: 'MAINTENANCE - TRAPP AUDITORIUM', 2549: 'OTHER OPERATIONS/MAINTENANCE OF PLANT', 2550: 'PUPIL TRANSPORTATION SERVICES', 2551: 'SERVICE AREA DIRECTION', 2552: 'VEHICLE OPERATION SERVICE', 2553: 'MONITORING SERVICES', 2554: 'VEHICLE SERVICES & MAINTENANCE SERVICES', 2559: 'OTHER PUPIL TRANSPORTATION SERVICES', 2560: 'FOOD SERVICES', 2561: 'SERVICE AREA DIRECTION', 2562: 'FOOD PREPARATION & DISPENSARY SERVICES', 2563: 'FOOD DELIVERY SERVICES', 2569: 'OTHER FOOD SERVICES', 2570: 'INTERNAL SERVICES', 2571: 'SERVICE AREA DIRECTION', 2572: 'PURCHASING SERVICES', 2573: 'WAREHOUSING & DISTRIBUTION SERVICES', 2574: 'PRINT-PUBLICATION-DUPLICATION SERVICES', 2578: 'OPERATIONS & MAINTENANCE', 2579: 'Need Title', 2590: 'OTHER SUPPLY SERVICES', 2600: 'SUPPORT SERVICES - CENTRAL', 2610: 'DIRECTOR OF CENTRAL SUPPORT', 2620: 'PLANING RESEARCH', 2621: 'SERVICE AREA DIRECTION', 2622: 'DEVELOPMENT SERVICES', 2623: 'EVALUATION SERVICES', 2624: 'PLANNING SERVICES', 2625: 'RESEARCH SERVICES', 2630: 'INFORMATION SERVICES', 2631: 'SERVICE AREA DIRECTION', 2632: 'INTERNAL INFORMATION SERVICES', 2633: 'PUBLIC INFORMATION SERVICES', 2634: 'MANAGEMENT INFORMATION SERVICES', 2640: 'STAFF SERVICES', 2641: 'HUMAN RESOURCES', 2642: 'RECRUITMENT & PLACEMENT SERVICES', 2643: 'STAFF ACCOUNTING SERVICE', 2644: 'INSERVICE TRAINING SERVICES', 2645: 'HEALTH SERVICES', 2660: 'INFORMATION TECHNOLOGY SERVICES', 2661: 'ITS-SYSTEMS', 2662: 'ITS-NETWORK', 2663: 'ITS-DATA', 2664: 'INFORMATION TECHNOLOGY SERVICES', 2665: 'ITS-PHONE SYSTEM', 2666: 'ITS-ERP SYSTEM', 2669: 'ITS-PRINTSHOP', 2690: 'OTHER ESC', 2691: 'PROVISIONS FOR SCHOOL OPENING', 2692: 'PROVISION FOR UNEXPECTED COSTS', 2693: 'PROVISION FOR EQUIPMENT/DESKS', 2694: 'PROVISION FOR WAGE CORRECTION', 2695: 'PROVISION - MAJOR COST CHANGE', 2696: 'PROVISION FOR SALARIES', 2697: 'PROVISION FOR BUDGET CORRECTION', 2698: 'PROVISION FOR LOCAL CONTRIBUTION', 2699: 'PROVISION FOR JOBS BILL SAVINGS', 2900: 'OTHER SUPPORT SERVICES', 2901: 'RISK MANAGER', 2902: 'CAMPUS RELATIONS', 2903: 'CRISIS INTERVENTION/SAFETY', 2904: 'STRIKE', 3000: 'COMMUNITY SERVICES', 3100: 'DIRECTION OF COMMUNITY SERVICES', 3200: 'COMMUNITY RECREATION SERVICES', 3230: '..', 3300: 'CIVIC SERVICES', 3320: '..', 3321: '..', 3400: 'PUBLIC LIBRARY SERVICES', 3500: 'CUSTODY & CHILD CARE SERVICES', 3502: 'HISPANIC PARENT PROGRAM', 3600: 'WELFARE ACTIVITIES SERVICES', 3700: 'NONPUBLIC SCHOOL PUPIL SERVICES', 3800: 'HOME/SCHOOL SERVICES', 3900: 'OTHER COMMUNITY SERVICES', 4000: 'NONPROGRAMMED CHARGES', 4100: 'PAYMENTS TO OTHER GOVERNMENT UNITS', 4110: 'PAYMENTS FOR REGULAR PROGRAMS', 4120: 'PAYMENTS FOR SPECIAL EDUCATION PROGRAM', 4130: 'PAYMENTS ADULT/CONTINUING EDUCATION PROGRAM', 4140: 'PAYMENTS FOR VOCATIONAL EDUCATION PROGRAMS', 4170: 'PAYMENTSFOR COMMUNITY COLLEGE PROGRAMS', 4190: 'OTHER PAYMENTS TO GOVERNMENTAL UNITS', 4200: 'PAYMENTS TO OTHER GOVERNMENTAL UNITS', 4210: '..', 4910: '..', 5000: 'DEBT SERVICES', 5100: 'DEBR SERVICES - INTEREST', 5110: 'ANTICIPATION WARRANTS', 5120: 'ANTICIPATION NOTES', 5130: "TEACHERS' ORDERS", 5140: 'BONDS', 5150: 'CORPORATE PERSONAL PROPERTY REPLACEMENT TAXES', 5160: 'STATE AID ANTICIPATORY CERTIFICATION', 5190: 'OTHER INTEREST', 5200: 'DEBT SERVICES BOND PRINCIPAL RETIREMENT', 5300: 'DEBT SVC-PRIN ON LONG TERM DEBT', 5400: 'DEBT SVC-OTHER PAYMENTS', 5900: 'DEBT SERVICES - OTHER', 5901: '..', 6000: 'PROVISION FOR CONTINGENCIES', 6001: 'ALLOCATION POOL ACCOUNT', 6902: '..', 7130: 'PERM TRF FROM TRANSP.', 7131: 'PERM TRF FROM WORKG CASH', 7132: 'PERM TRF FROM DEBT SVC', 8000: 'OTHER FINANCING USES', 8001: 'OTHER OBJECTS', 8100: 'TRANSFERS TO OTHER FUNDS', 8110: 'PAYMENT TRANSFERS OF WORKING CASH FUNDS', 8120: 'PERMANENT TRANSFER INTEREST WORKING CASH', 8130: 'PERMANENT TRANSFER FROM EDUCATION FUND', 8131: 'PERM TRF FROM O&M', 8132: 'PERM TRF TO FP&S', 8133: 'PERM TRF TO O&M', 8140: 'PERMANENT TRANSFER OF INTEREST', 8150: 'PERMANENT TRANSFER FROM SITE & CONSTRUCTION', 8190: 'OTHER TRANSFERS OUT', 8191: 'TRANSFERS IN FROM OTHER FUNDS', 8440: 'PRINCIPAL PYMT ON CAPITAL LEASES', 8540: 'INTEREST PYMT ON CAPITAL LEASES', 8700: 'CASH WITH FISCAL AGENT', 8740: 'TRF TO PAY INTEREST ON REVENUE BONDS', 8990: 'OTHER PERM TRFS', 9000: 'DISTRICT-WIDE', 9009: 'JUDGMENT COMMUNITY EDUCATION', 9010: 'ADMINISTRATION OFFICE', 9011: 'SPECIAL EDUCATION OFFICE', 9012: 'SPECIAL EDUCATION MATERIALS CENTER', 9013: 'WAREHOUSE', 9014: 'MAIN SHOP', 9015: 'CAFETERIA HIGH SCHOOL', 9016: 'CAFETERIA  MIDDLE SCHOOL', 9017: 'CAFETERIA ELEMENTARY', 9018: 'CAFETERIA', 9019: 'APPRENTICE', 9020: 'CAREER ACADEMY', 9021: 'HIGH SCHOOL', 9022: 'WEISS FIELD', 9023: 'HIGH SCHOOL 2', 9024: 'ALTERNATIVE SCHOOL', 9025: 'NINTH GRADE CENTER', 9026: 'YMCA', 9027: 'SAT ENRICHMENT', 9028: 'PRE-SCHOOL', 9029: 'ADULT EDUCATION FEE REFUND', 9030: 'CARMAN', 9031: 'CLARK', 9032: 'CLEARVIEW', 9033: 'COOKE', 9034: 'GLEN FLORA', 9035: 'GLENWOOD', 9036: 'GREENWOOD', 9037: 'HYDE PARK', 9038: 'LINCOLN', 9039: 'LITTLE FORT', 9040: 'LYON', 9041: 'MCCALL', 9042: 'NORTH', 9043: 'OAKDALE', 9044: 'WASHINGTON', 9045: 'ABBOTT', 9046: 'WHITTIER', 9047: 'K-5', 9048: 'PAROCHIAL', 9049: 'EAST MIDDLE SCHOOL', 9050: 'BENNY', 9051: 'JEFFERSON', 9052: 'WEBSTER', 9053: 'MIDDLE SCHOOL', 9054: 'K-8', 9055: 'K-12', 9056: '6-12', 9057: 'PRESCHOOL', 9058: 'I H S', 9059: 'ESCROW CITY NATIONAL BANK', 9060: 'CITY NATIONAL', 9061: 'AMERICAN NATIONAL', 9062: 'BANK-WAUKEGAN', 9063: '1ST NATIONAL', 9064: '1ST FEDERAL', 9065: 'HOME SAVINGS', 9066: 'NORTH SHORE SAVINGS', 9067: 'WAUKEGAN SAVINGS', 9068: 'CONNECTICUT GENERAL', 9069: 'DENTAL', 9070: 'AETNA', 9071: 'AMERICAN UNLIMITED LIFE', 9072: 'IDS', 9073: 'NML', 9074: 'PRUDENTIAL', 9075: 'TRAVLERS', 9076: 'WASHINGTON NATIONAL', 9077: 'AFT', 9078: 'SEIU', 9079: 'WEA', 9080: 'CREDIT UNION', 9081: 'UNITED FD', 9082: 'GREAT WESTERN LIFE', 9083: 'BALANCE', 9084: 'NE LIFE', 9085: 'KEMPER', 9086: 'ISS 3154', 9087: 'ISS 10157', 9088: 'ISS 12165', 9089: 'ISS 2172', 9090: 'ISS 10173', 9091: 'D#3 BLDG', 9092: 'D#3 FUND', 9093: 'D#58 FUND', 9094: 'VOC001947', 9095: 'D#60', 9096: 'AREA VOC', 9097: 'PERSONNEL', 9098: 'HEADSTART', 9100: '904 VICT', 9101: '336 N ELMWOOD', 9102: 'HOUSE 22', 9103: 'HOUSE 23', 9104: 'HOUSE #21', 9105: 'HOUSE #20', 9106: 'LCYH', 9107: 'EMP DED YMCA', 9108: 'LASALLE NATIONAL BANK', 9109: 'CDB REVENUE', 9110: 'CONN GEN', 9111: 'GR SOUTH', 9112: 'MONY', 9113: 'VALIC', 9114: 'TCHR PENS', 9115: 'HLTH DENT', 9116: 'PUB SVC', 9117: 'GIFTS', 9118: 'S&C I', 9119: 'S&C II', 9120: 'REIMBURSEMENT CLAIM PROCESSING HEALTH INSURANCE', 9121: 'OVER / SHORT', 9122: 'MIDDLE SCHOOL SPORT REIMBURSEMENT', 9123: 'TITLE 2 MATH/SCIENCE', 9124: 'ISDLAF', 9125: 'ISDLAF S&L INVESTMENTS', 9126: 'UTILITY TAX AGREEMENT', 9127: 'WORK COMP EMPLOYEE REIMBURSEMENT', 9128: 'Y M C A', 9129: 'REIMBURSEMENT SUBSTITUTE PAY', 9130: 'BOND & INTEREST', 9131: 'RYDER TRANSPORTATION', 9132: 'S&C WEST HIGH', 9133: 'AFLAC INSURANCE', 9134: 'S&C 12-28-95', 9135: 'ESCROW', 9136: 'DUE FROM FLEX EMPLOYEE BENEFIT', 9137: 'LOAN FOR LIBRARY EQUIPMENT', 9138: 'PEOPLES ENERGY - TUTORING', 9139: 'BEST BUY CHILDRENS FOUNDATION', 3: 'Cash-Student Activities (FMB)', 5: 'Cash-Alan Larson Trust', 7: 'Cash-Norstates Admin Acct', 9: 'Cash-Student Collections', 15: 'Cash-Norstates Empl Benefit Plan', 17: 'Cash-Norstates Health Ins Claims', 19: 'SWEEP', 31: 'Invest-ISDLAF (Board)', 37: 'Invest-ISDLAF (Student Act.)', 41: 'FED WITHHOLD TAX PAYABLE', 42: 'ACCOUNTS PAYABLE', 43: 'IMPREST', 44: 'STATE WITHH. TAX PAYABLE', 45: 'TEACHERS PENSION PAYABLE', 46: 'LOAN FROM OP AND MAINT FN', 47: 'LOAN FROM WORKING CASH', 48: 'MUNICIPAL RETIRE. PAYABLE', 49: 'ANNUITIES PAYABLE', 55: 'TEACHERS RETIREMENT INS SECURITY', 58: 'OTHER CURRENT LIABILITIES', 59: 'OTHER P/R DEDUCT. PAYABLE', 82: 'TRUST', 83: 'ACTIVITY/CLUB', 84: 'VENDING', 91: 'INVESTMENT INTEREST', 100: 'SALARIES', 101: 'Lunch/Recess Duty', 102: 'TEAM LEADER STIPENDS', 104: 'COMMUNITY SERVICE STIPEND', 105: 'CLASS/CASE OVERLOADS', 107: 'COMMITTEE STIPEND', 108: 'BILINGUAL EXPER. STIPEND', 109: 'INTERN SUPERVISOR STIPEND', 110: 'REGULAR SALARIES', 111: 'LEAD TEACHER STIPENDS', 112: 'LONGEVITY PAY', 113: 'YEARS OF SERVICE BONUS', 114: 'BEFORE SCHOOL STIPEND', 115: 'SATURDAY SCHL/DETENTN CTR', 116: 'SALARY-WORK EXPERIENCE', 117: 'CO-CURR CLUB SALARIES', 118: '6TH/7TH PD CLASS STIPEND', 119: 'BUS DUTY STIPEND', 120: 'LOCKER ASSIGNMENT DUTY', 121: 'PREK-5 TEAM MTG STIPEND', 122: 'EDUC SAFETY SUPV STIPEND', 123: 'CURRICULUM SPECIALIST PAY', 124: 'TEMPORARY SALARIES', 125: 'EXTRA DUTY SALARY', 126: 'B4/AFTER SCHL TUTORG', 127: 'PROFESSIONAL DEV STIPEND', 128: 'CO-CURRICULAR STIPENDS', 129: 'PARENT TRAINING STIPENDS', 130: 'RTI STIPEND', 131: 'CURRICULUM WRITING', 132: 'GRIEVANCE SETTLEMENT', 133: 'ATHLETIC CAMP STIPEND', 134: 'NEUROPSYCHOLOGY EVALUATN', 135: 'CLASSROOM PACKING/MOVING ', 136: 'ENRICHMT CLASS-AFTER SCHL', 137: 'STUDY HALL DUTY', 138: 'MEDIA TECHNOLOGY STIPEND', 139: 'CORP PERSONAL PROP REP TX', 140: 'OVERTIME SALARIES', 141: 'Overtime - Alarms', 142: 'REGULAR TUITION - PUPILS', 143: 'SUMM SCHL TUITION PUPILS', 144: 'SPEC ED - NEXT YEAR', 145: 'INTEREST ON INVESTMENTS', 146: 'SALES TO PUPILS - LUNCH', 147: 'SALES TO PUPILS BREAKFAST', 148: 'SALES TO PUPILS A LA CART', 149: 'SALES TO ADULTS', 150: 'OTHER FOOD SERVICE', 151: 'CURRENT YEAR LEVY (SS/MD)', 152: 'GEN TAXES - SS/MED NEXT', 153: 'DRIVERS ED', 154: 'PARKING FEE', 155: 'RENTALS - REGULAR TEXTBK', 156: 'REGISTRATN FEES PRIOR YRS', 157: 'OTHER REV FOR LCL SRCS', 158: 'RENTALS', 159: 'RENTALS', 160: 'CONT. & DONATNS-HOMELESS', 161: 'CONTRIB-BIG BRO/BIG SISTR', 162: 'FOUNDATION GRANT', 163: 'WORKFORCE DEVELOP SHINE', 164: 'TOOLBOX FOR EDUCATION', 165: 'REFUND OF PRIOR YRS EXPEN', 166: 'TRAN INT TRANSPORTATION', 167: 'MISC DEPOSITS', 168: 'TIF PROCEEDS', 169: 'PROP.INS/CHROMEBKS REPAIR', 170: 'MISC-', 200: 'EMPLOYEE BENEFITS', 201: 'TEACHERS RETIREMENT', 202: 'TEACHERS RETIREMENT', 203: 'MUNICIPAL RETIREMENT', 204: 'FICA', 205: 'MEDICARE', 206: 'MEDICARE ONLY', 207: 'TRS ERO & RET INS.', 208: 'INSURANCE', 209: 'TEACH HOSP INS SYSTEM', 210: 'LIFE INSURANCE', 211: 'MEDICAL INSURANCE', 212: 'PPO CLAIMS', 213: 'HMO PREMIUMS', 214: 'DENTAL', 215: '125 FLEX EXP', 216: 'DISABILITY INSURANCE', 217: 'TUITION REIMBURSEMENT', 218: 'ADOPTION COSTS', 219: 'HEALTH CARE PREM - EMPFAM', 220: 'OTHER BENEFIT', 221: 'ACA FEES-SELF INS. PLANS', 222: 'JOB SHARE/INS. COST SHARE', 300: 'PURCHASED SERVICES', 301: 'ADMIN/UNION RELATION TRNG', 302: 'SPEC ED - EXTRAORDINARY', 303: 'GEN. ST. AID - LOSS LIMIT', 304: 'ARMORY RENO - CLEARVIEW', 305: 'PROFESSIONAL DEVELOPMENT', 306: 'CONT PUPIL SERVICE', 307: 'PROF SVC - H-1B VISAS', 308: 'PROF SVC - TEMP AGENCY', 309: 'PROF SVC - PHYSICALS', 310: 'PROF. & TECHNICAL SERVICE', 311: 'SUMMER BOILER RENO', 312: 'EXPEDITIONARY LEARNING TRAVEL', 313: 'PROF SVC - ADMINISTRATIVE', 314: 'PROF SVC - INSTRUCTIONAL', 315: 'PROF SVC - RETIREMT DINNR', 316: 'CONT MGNT SERVICE', 317: 'MAINT MGMT SVCS', 318: 'DATA PROC/STATISTICAL SVC', 319: 'DESIGN/ENGINEERING', 320: 'WIRING/ELECTRICAL', 321: 'DPS-KIRTLEY', 322: 'DPS-CIMS', 323: 'LABOR - EQUIP/MATERIAL', 324: 'DPS-IC', 325: 'OTHER CONSTRUCTION EXP', 326: 'CONTINGENCY CONSTRUCTION', 327: 'DPS - BOARD DOCS SUPPORT', 328: 'AUDIT/FINANCIAL SVCS', 329: 'LEGAL SERVICES', 330: 'OTHER PROF & TECH SERVICE', 331: 'PROPERTY SERVICES', 332: 'SANITATION SERVICES', 333: 'PEST CONTROL', 334: 'VOC ED FORMULA', 335: 'CLEANING SERVICES', 336: 'VOC ED REPAIR & MAINT.', 337: 'REPAIR & MAINTENANCE SVC', 338: 'REPAIR & MAINT-AV EQUIPMT', 339: 'RENTALS', 340: 'OTHER PROPERTY SERVICES', 341: 'TRAVEL/RECRUITMENT', 342: 'PUPIL TRANSPORTATION', 343: 'TRAVEL', 344: 'LOCAL TRAVEL', 345: 'TRAVEL-IN-DIST. MILEAGE', 346: 'LOC TVL - RAISE STUD ACH', 347: 'RELOCATION STIPEND/FEE', 348: 'ST FREE LNCH & BREAKFAST', 349: 'DRIVER EDUCATION', 350: 'COMMUNICATION', 35

In [128]:
#closeFields

def set_value(row_number, assigned_value): 
    return assigned_value[row_number] 

finalSums['FundTitle'] = finalSums['Fund'].apply(set_value, args =(titles, ))

  
# Add a new column named 'Price' 
#finalSums['FundTitle'] = finalSums['Fund'].map(titles) 
#finalSums.head(10)

KeyError: '10'

To Do: Need to format Keys and columns in finals sum data frame to same data type, so that they can match exactly.